{extends file="{$layout_path}layout.html"}
{block name="content"}
<div class="container clearfix login-container">
    <div class="login-con">
        <div class="login-form">
            <img src="/public/img/logo.png" />
            <form action="http://ovpp.net/admin/login_auth.html" method="post">
                <p class="login-form-box">
                    <label for="">用户名：</label><input type="text" name="username" id="username" value="">
                </p>
                <p class="login-form-box">
                    <label for="">密&nbsp;&nbsp;&nbsp;码：</label><input name="password" id="password" type="password" value="">
                </p>
                <p class="clearfix">

                </p>
                <p class="clearfix">
                    <label for="remember" class="login-form-chk left"><span></span></label>
                    <button type="submit" class="btn btn-success btn-xxl right js_loginBtn">&nbsp;&nbsp;登&nbsp;录&nbsp;&nbsp;</button>
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            CopyRight@凡人的设计室
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script>
    $(function(){

        $('.js_loginBtn').click(function(e){
            e.preventDefault();
            if ($('.js_loginBtn').attr('is_post') == 1) {
                showMsg('正在提交信息，请稍候 ...');
                return false;
            }
            var userName = $.trim($('#username').val());
            if (!userName) {
                showMsg('用户名不能为空');
                return;
            }
            var password = $.trim($('#password').val());
            if (!password) {
                showMsg('密码不能为空');
                return;
            }
            $('.js_loginBtn').attr('is_post', 1);
            var frm = $(this).closest('form');
            $('.js_loginBtn').attr('is_post', 0);
            frm.submit();
        });
    });
</script>
{/block}